{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">

<form method=post action="">

<!--
<table>

  {% for field in form %}
    <tr>
    <td>{{ field.name }}</td><td>{{ field }}</td>
    <td>{{ field.label }}</td>
    </tr>
  {% endfor %}

</table>
-->

{% for field in form  %}
  {{ field.name }} {{ field }} {{ field.label }} <br> <br>
{% endfor %} 


<p><input type=submit value=Compute></form></p>

<p>
{% if result != None %}
<img src="{{ result }}" width="500">
{% endif %}
</p>

</div>

{% endblock %}
